/* Estilos para la página principal */
body.index {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    background:
        linear-gradient(to right, rgb(115, 100, 210, 0.7), rgb(151, 223, 252, 5.5)),
        url('Imagenes/FTP.png') no-repeat center center/cover fixed;
    overflow: hidden;
    animation: fadeIn 1s ease-in-out;

    /* Cargador de idioma */
    .selector-idioma {
        position: fixed;
        bottom: 5%;
        right: 35px;

        select {
            appearance: none;
            padding: 10px;
            padding-right: 30px;
            font-size: 1rem;
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(50px);
            transition: background-color 0.3s, color 0.3s;
            border: 2px solid #7364d2;
            border-radius: 15px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            color: rgba(255, 255, 255);
            cursor: pointer;

            &:hover {
                background: rgba(0, 0, 0, 0.5);
                border-color: #555;
            }
        }

        &:after {
            content: url(Imagenes/caret-down-fill.svg);
            position: absolute;
            right: 10px;
            top: 35%;
            /* transform: translateY(-50%); */
            /* pointer-events: none; */
        }
    }
}

/* Animación para el cargador */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Estilos para cada página */
body.page {
    position: relative;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    background: linear-gradient(to right, #7364d2, #97dffc);
    overflow-x: hidden;
    animation: fadeIn 1s ease-in-out;
}

/* Estilo para ocultar contenido */
header {
    position: sticky;
    top: 0%;
    height: 3.4vh;
    background: linear-gradient(to right, #7364d2, #97dffc);
    z-index: 1;
}

/* Estilo general de la navbar */
.navbar {
    width: 94%;
    height: 5%;
    padding: 10px;
    position: fixed;
    top: 3.4%;
    left: 2%;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(50px);
    border: 2px solid #4e148c;
    border-radius: 15px;
    z-index: 1;

    /* Logo */
    .logo {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            width: 10vh;
            max-width: 40px;
            height: auto;
            border-radius: 10px;
        }

        p a {
            font-size: 1.5rem;
            font-weight: bold;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    /* Menú principal */
    ul,
    li,
    .menu {
        font-size: clamp(0.9rem, 1.7vw, 1.5rem);
        list-style: none;
        margin: 0;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        gap: 4vw;

        a {
            color: white;
            text-decoration: none;
            padding: 10px 15px;
            transition: color 0.3s;

            &:hover {
                color: #97dffc;
                background-color: transparent;
            }
        }
    }

    /* Desplegable */
    .dropdown {
        img {
            transform: rotate(0deg);
            transition: transform 0.3s ease;
        }

        &:hover img {
            transform: rotate(180deg);
            transition: transform 0.3s ease;
        }

        /* Submenú */
        .submenu {
            position: absolute;
            right: 0;
            top: 100%;
            padding: 5px;
            display: block;
            opacity: 0;
            visibility: hidden;
            transform: translateY(7.5px);
            transition: opacity 0.3s ease, transition 0.3s ease, visibility 0.3s ease;
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(50px);
            border: 2px solid #7364d2;
            border-radius: 15px;
        }

        &:hover .submenu {
            position: fixed;
            top: 0;
            right: 0;
            opacity: 1;
            visibility: visible;
            transform: translateY(75px);
        }
    }
}

/* Estilo del contenido de la página principal */
.content {
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: auto;

    img {
        max-width: 400px;
        width: 35%;
        height: auto;
        margin-top: 12%;
        margin-left: 5%;
        border-top-left-radius: 500px;
        border-top-right-radius: 500px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
    }

    h1 {
        width: 45%;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
        font-size: clamp(1.5rem, 8vw, 7rem);
        letter-spacing: 45px;
        margin-top: -30px;
        margin-left: 45%;
    }

    #titulo {
        width: 45%;
        padding: 3.4px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 25.8px;
        margin-top: -25%;
        margin-left: 45%;
        color: rgba(0, 0, 0, 0.5);
    }

    p {
        width: 45%;
        padding: 3.4px;
        text-align: justify;
        font-size: 15px;
        color: #333;
        margin-top: -6%;
        margin-left: 45%;
        color: rgba(0, 0, 0, 0.5);
    }

    input {
        width: 25%;
        padding: 10px;
        position: relative;
        top: 25px;
        left: 55%;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(50px);
        transition: background-color 0.3s, color 0.3s;
        border: 2px solid #3d0e61;
        border-radius: 15px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

        &:hover {
            background-color: #93caf6;
            color: #3d0e61;
            cursor: pointer;
        }

    }
}

/* Estilo del contenido del manual */
.content-manual {
    position: relative;
    max-width: 50%;
    max-height: auto;
    left: 25%;

    .parrafo {
        margin-top: 17%;
    }

    h2,
    h3,
    p,
    ol>li,
    ul>li {
        width: auto;
        text-align: justify;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.5);
        line-height: 1.5em;
    }

    h2 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 40px;
        margin-bottom: -2%;
    }

    h3 {
        font-size: 25px;
        margin-bottom: -2%;
    }

    ol>li {
        padding: 20px;
        font-weight: bold;
    }

    ul>li {
        list-style: disc;
    }

    img {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 600px;
        height: auto;
        right: 0;
        left: 0;
        margin: 0 auto;
        border-radius: 10px;
        margin-bottom: 3em;
    }

    .botones {
        display: flex;
        justify-content: space-between;
        position: sticky;
        bottom: 5%;
        margin-top: 5%;
    }

    input {
        max-width: 25%;
        min-width: 35%;
        width: 100%;
        height: auto;
        padding: 10px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(50px);
        transition: background-color 0.3s, color 0.3s;
        border: 2px solid #3d0e61;
        border-radius: 15px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

        &:hover {
            background-color: #93caf6;
            color: #3d0e61;
            cursor: pointer;
        }

    }
}

.paginacion {
    width: 4.9%;
    height: auto;
    padding: 10px;
    position: sticky;
    bottom: 5%;
    left: 90%;
    display: flexbox;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border: 2px solid #7364d2;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Estilo del footer */
footer {
    width: calc(100vw - 4rem);
    height: auto;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    color: #fff;
}